@(days: Seq[org.joda.time.LocalDate], archives: Seq[models.history.DataArchiveCount])(implicit session: Session, flash: Flash)
@views.html.admin.layout.base("Data Archive", "explore") {
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Day</th>
            @services.history.DataArchiveService.tables.map { table =>
              <th>@table._1</th>
            }
            <th></th>
          </tr>
        </thead>
        <tbody>
          @days.reverse.map { day =>
            <tr>
              <td>@day</td>
              @defining(archives.filter(_.day == day)) { mine =>
                @services.history.DataArchiveService.tables.map { table =>
                  <td>@mine.find(_.table == table._2).map(x => utils.Formatter.withCommas(x.count)).getOrElse("-")</td>
                }
              }
              <td>
                <a href="@controllers.admin.routes.DataArchiveController.process(day)">
                  <span class="glyphicon glyphicon-play-circle"></span>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
