logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

/public/images/game/cards/x-small
/public/images/game/cards/small
/public/images/game/cards/medium
/public/images/game/cards/large
/public/images/game/cards/x-large
/public/images/game/cards/resized
