logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

_resized/
x-large/
large/
medium/
small/
x-small/

buildinfo.properties

/offline/assets/
/offline/build/
/offline/bin/
