@()(implicit messages: Messages)
<div id="game-results-panel">
  <div class="content">
    <div id="game-results-title">You Win!</div>
    <ul class="game-links">
      <li><div id="btn-results-redeal" title="@Messages("menu.redeal.description")" class="menu-link">@Messages("menu.redeal")</div></li>
      <li><div id="btn-results-choose-game" title="@Messages("menu.different.game.description")" class="menu-link">@Messages("menu.different.game")</div></li>
    </ul>

    <hr class="sep">

    <div>
      <div class="game-stats">
        <h4>Game Result</h4>
        <table class="stats-table">
          <tr>
            <th>Score:</th>
            <td id="results-score"></td>
          </tr>
          <tr>
            <th>Time:</th>
            <td id="results-time"></td>
          </tr>
          <tr>
            <th>Moves:</th>
            <td id="results-moves"></td>
          </tr>
          <tr>
            <th>Undos:</th>
            <td id="results-undos"></td>
          </tr>
        </table>
      </div>
      <div class="total-stats">
        <h4>Lifetime Totals</h4>
        <table class="stats-table">
          <tr>
            <th>Wins:</th>
            <td id="results-stats-wins"></td>
          </tr>
          <tr>
            <th>Losses:</th>
            <td id="results-stats-losses"></td>
          </tr>
          <tr>
            <th>Time Played:</th>
            <td id="results-stats-duration"></td>
          </tr>
          <tr>
            <th>Moves:</th>
            <td id="results-stats-moves"></td>
          </tr>
          <tr>
            <th>Undos:</th>
            <td id="results-stats-undos"></td>
          </tr>
        </table>
      </div>
    </div>

    <hr class="sep">

    <div class="plea">
      Did you enjoy the game? We're just getting started and would love your <a id="results-feedback" href="#">feedback</a>.
    </div>
  </div>
</div>
