@(user: models.user.User)(implicit messages: Messages)
<div id="gameplay-options" class="display-none">
  <div id="audio-list" class="options-list">
    <div class="options-label">@Messages("options.audio")</div>
    <div class="game-options">
      @defining(if(user.preferences.audio) { " active" } else { "" }) { active =>
        <div class="game-option@active" data-option-class="audio" data-option-value="true">
          <div id="audio-true" class="option-image"></div>
        </div>
      }
      @defining(if(!user.preferences.audio) { " active" } else { "" }) { active =>
        <div class="game-option@active" data-option-class="audio" data-option-value="false">
          <div id="audio-false" class="option-image"></div>
        </div>
      }
    </div>
  </div>

  <div id="auto-flip-list" class="options-list">
    <div class="options-label">@Messages("options.auto.flip")</div>
    <div class="game-options">
      @defining(if(user.preferences.autoFlip) { " active" } else { "" }) { active =>
        <div class="game-option@active" data-option-class="auto-flip" data-option-value="true">
          <div id="auto-flip-true" class="option-image"></div>
        </div>
      }
      @defining(if(!user.preferences.autoFlip) { " active" } else { "" }) { active =>
        <div class="game-option@active" data-option-class="auto-flip" data-option-value="false">
          <div id="auto-flip-false" class="option-image"></div>
        </div>
      }
    </div>
  </div>

  <div id="gamepad-list" class="options-list">
    <div class="options-label">@Messages("options.gamepad")</div>
    <div class="game-options">
      @defining(if(user.preferences.gamepad) { " active" } else { "" }) { active =>
        <div class="game-option@active" data-option-class="gamepad" data-option-value="true">
          <div id="gamepad-true" class="option-image"></div>
        </div>
      }
      @defining(if(!user.preferences.gamepad) { " active" } else { "" }) { active =>
        <div class="game-option@active" data-option-class="gamepad" data-option-value="false">
          <div id="gamepad-false" class="option-image"></div>
        </div>
      }
    </div>
  </div>

  <div id="color-list" class="options-list">
    <div class="options-label">@Messages("options.background.color")</div>
    <div class="game-options">
    @for(color <- ui.Colors.all) {
      @defining(if(color._1 == user.preferences.color) { " active" } else { "" }) { active =>
        <div class="game-option@active" data-option-class="background-color" data-option-value="@color._1">
          <div class="background-@color._1"></div>
        </div>
      }
    }
    </div>
  </div>

  <div class="clear"></div>
</div>
