@()(implicit messages: Messages)
<div class="module">
  <div class="play-now">
    <a href="@controllers.routes.GameController.newGame("klondike").url" role="button">@Messages("index.play.now")</a>
  </div>
</div>

<div class="module">
  <div class="header">@Messages("index.games.popular")</div>
  <ul class="game-links">@for(r <- models.rules.GameRulesSet.favorites) {
    <li><a href="@controllers.routes.GameController.newGame(r.id).url">@r.title</a></li>}
  </ul>
</div>

<div class="module">
  <div class="header">@Messages("index.games.completed")</div>
  <ul class="game-links">@for(r <- models.rules.GameRulesSet.completed) {
    <li><a href="@controllers.routes.GameController.newGame(r._1).url">@if(r._1 == r._2.id) { @r._2.title } else { @r._2.aka(r._1) }</a></li>}
  </ul>
</div>
