@()(implicit messages: Messages)
<div id="game-results-panel">
  <div class="content">
    <div id="game-results-title">You Win!</div>
    <ul class="game-links">
      <li><div id="btn-results-redeal" title="@Messages("menu.redeal.description")" class="menu-link">@Messages("menu.redeal")</div></li>
      <li><div id="btn-results-winnable-game" title="@Messages("menu.winnable.game.description")" class="menu-link">@Messages("menu.winnable.game")</div></li>
      <li><div id="btn-results-specific-seed" title="@Messages("menu.specific.seed.description")" class="menu-link">@Messages("menu.specific.seed")</div></li>
      <li><div id="btn-results-choose-game" title="@Messages("menu.different.game.description")" class="menu-link">@Messages("menu.different.game")</div></li>
    </ul>

    <table class="game-results-table">
      <tr>
        <th>Score:</th>
        <td id="results-score"></td>
      </tr>
      <tr>
        <th>Time:</th>
        <td id="results-time"></td>
      </tr>
      <tr>
        <th>Moves:</th>
        <td id="results-moves"></td>
      </tr>
      <tr>
        <th>Undos:</th>
        <td id="results-undos"></td>
      </tr>
    </table>

    <div class="plea">
      Did you enjoy the game? We're just getting started and would love your <a id="results-feedback" href="#">feedback</a>.
    </div>
  </div>
</div>
