@()
<div class="game-results-panel">
  <p>Here's what needs to be shown...</p>
  <ul>
    <li>If not logged in (no profiles), let them know they can keep stats after sign-in.</li>
    <li>Translucent background.</li>
    <li>Move count</li>
    <li>Score</li>
    <li>Time</li>
    <li>Leaderboard</li>
    <li>Personal history graph</li>
    <li>Earned achievements</li>
    <li>Win/loss counts (graph?)</li>
    <li>Buttons (redeal, different game)</li>
    <li>Similar games?</li>
    <li></li>
  </ul>
</div>
