@(
    title: String, user: models.user.User, rulesId: String, initialAction: Seq[String], seed: Option[Int] = None, offline: Boolean = false
)(implicit session: Session, flash: Flash)@layout.basic(
  title + " - " + utils.Config.projectName,
  stylesheets = Seq(routes.Assets.at("stylesheets/solitaire.gg.css").url),
  bodyClass = Some("noscroll background-" + user.color),
  faviconColor = Some(user.color)
) {
  @views.html.layout.topBar(user)
  @views.html.layout.bottomBar(user)

  <div id="game-container"></div>

  <div id="gameplay-modal">
    <div id="gameplay-modal-backdrop"></div>
    <div id="gameplay-modal-content" class="off">
      <div id="gameplay-modal-loading">
        Loading...
      </div>
      <div id="gameplay-modal-data">
      </div>
    </div>
  </div>

  <pre id="@utils.Config.projectId-config">
  {
    "host": "@utils.Config.hostname",
    "user": {
      "id": "@user.id",
      "name": "@user.username.getOrElse("Guest")"
    },
    "debug": "@utils.Config.debug",
    "cardSet": "@utils.Config.defaultCardSet",
    "rules": "@rulesId",
    @if(seed.isDefined) {"seed": @seed.get, }
    @if(offline) {"offline": true, }
    "initialAction": [ @Html(initialAction.map("\"" + _ + "\"").mkString(", ")) ]
  }
  </pre>

  @if(offline) {
  @if(play.api.Play.isProd(play.api.Play.current)) {
  <script src="/assets/client-opt.js" type="text/javascript"></script>
  } else {
  <script src="/assets/client-fastopt.js" type="text/javascript"></script>
  }
  }

  @if(utils.Config.debug) {
  <script src="/assets/lib/phaser/js/phaser.js"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/phaser-debug.css").url" />
  <script src="/assets/lib/phaser/js/phaser-debug.js"></script>
  <script src="@routes.Assets.at("lib/underscore/underscore.js").url"></script>
  } else {
  <script src="/assets/lib/phaser/js/phaser.min.js"></script>
  <script src="@routes.Assets.at("lib/underscore/underscore.min.js").url"></script>
  }
  <script data-main="/assets/javascripts/main.js?build=@utils.BuildInfo.buildinfoBuildnumber" src="/assets/lib/requirejs/require.min.js"></script>
}
