@(
  title: String,
  rulesId: String,
  rulesDescription: String,
  initialAction: Seq[String],
  seed: Option[Int] = None,
  debug: Boolean = false
)(implicit session: Session, flash: Flash, messages: Messages)@layout.basic(
  s"$title - ${utils.Config.projectName}",
  stylesheets = Seq(routes.Assets.versioned("stylesheets/solitaire.gg.min.css").url),
  bodyClass = Some(s"noscroll"),
  url = Some("/offline/" + rulesId),
  description = Some(rulesDescription)
) {
  @views.html.layout.topBar()
  @views.html.game.menuPanel()
  @views.html.game.gameOptionsPanel()

  @views.html.layout.bottomBar()

  <div id="game-container"></div>

  <div id="gameplay-modal" class="off">
    <div id="gameplay-modal-backdrop"></div>
    <div id="gameplay-modal-content">
      <div id="gameplay-modal-close"><div>&times;</div></div>
      <div id="gameplay-modal-loading">
        @Messages("game.loading")
      </div>
      <div id="gameplay-modal-data">
      </div>
    </div>
  </div>

  @views.html.game.gameResultsPanel()

  <pre id="@utils.Config.projectId-config">{
    "debug": "@debug",
    "rules": "@rulesId",
    @if(seed.isDefined) {"seed": @seed.get, }
    "offline": true,
    "initialAction": [ @Html(initialAction.map("\"" + _ + "\"").mkString(", ")) ]
  }</pre>

  @if(debug) {
    <script src="@routes.Assets.versioned("client-fastopt.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/phaser/phaser-arcade-physics.js")"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/phaser-debug.min.css").url" />
    <script src="@routes.Assets.versioned("lib/phaser/phaser-debug.js")"></script>
    <script src="@routes.Assets.versioned("lib/underscorejs/underscore.js").url"></script>
  } else {
    <script src="@routes.Assets.versioned("client-opt.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/phaser/phaser-arcade-physics.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/underscorejs/underscore-min.js").url"></script>
  }
  <script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.min.js").url"></script>
}
