@(user: models.user.User)(implicit messages: Messages)
<div id="gameplay-options" class="invisible">
  <div id="card-layout-list" class="options-list">
    <div class="options-label">@Messages("options.cards.layout")</div>
    <div class="game-options">
      @for(idx <- Seq("a", "b")) {
        @defining(if(idx == user.preferences.cards.layout) { " active" } else { "" }) { active =>
          <div class="game-option card-layout @active" data-option-value="@idx">
            <div>@idx</div>
          </div>
        }
      }
    </div>
  </div>

  <div id="face-card-list" class="options-list">
    <div class="options-label">@Messages("options.cards.face.cards")</div>
    <div class="game-options">
      @for(idx <- Seq("a", "b")) {
        @defining(if(idx == user.preferences.cards.faceCards) { " active" } else { "" }) { active =>
          <div class="game-option face-card @active" data-option-value="@idx">
            <div>@idx</div>
          </div>
        }
      }
    </div>
  </div>

  <div id="card-rank-list" class="options-list">
    <div class="options-label">@Messages("options.cards.ranks")</div>
    <div class="game-options">
      @for(idx <- Seq("a", "b")) {
        @defining(if(idx == user.preferences.cards.ranks) { " active" } else { "" }) { active =>
          <div class="game-option card-rank @active" data-option-value="@idx">
            <div>@idx</div>
          </div>
        }
      }
    </div>
  </div>

  <div id="card-suit-list" class="options-list">
    <div class="options-label">@Messages("options.cards.suits")</div>
    <div class="game-options">
      @for(idx <- Seq("a", "b")) {
        @defining(if(idx == user.preferences.cards.suits) { " active" } else { "" }) { active =>
          <div class="game-option card-suit @active" data-option-value="@idx">
            <div>@idx</div>
          </div>
        }
      }
    </div>
  </div>

  <div id="auto-flip-list" class="options-list">
    <div class="options-label">@Messages("options.cards.auto.flip")</div>
    <div class="game-options">
      @defining(if(user.preferences.autoFlip) { " active" } else { "" }) { active =>
        <div class="game-option auto-flip @active" data-option-value="true">
          <div>true</div>
        </div>
      }

      @defining(if(!user.preferences.autoFlip) { " active" } else { "" }) { active =>
        <div class="game-option auto-flip @active" data-option-value="false">
          <div>false</div>
        </div>
      }
    </div>
  </div>

  <div id="color-list" class="options-list">
    <div class="options-label">@Messages("options.background.color")</div>
    <div class="game-options">
    @for(color <- ui.Colors.all) {
      @defining(if(color._1 == user.preferences.color) { " active" } else { "" }) { active =>
        <div id="color-@color._1" class="game-option background-color @active" data-option-value="@color._1">
          <div class="background-@color._1"></div>
        </div>
      }
    }
    </div>
  </div>
</div>
