@(rules: models.game.rules.GameRules)
<div class="rules-help">
  <h2>@rules.title</h2>
  <div class="description">
    <em>@Html(services.RulesHelpService.description(rules.description))</em>
  </div>
  <h3>Objective</h3>
  <div class="objective">
    @Html(services.RulesHelpService.objective(rules.victoryCondition, rules.cardRemovalMethod))
  </div>
  <h3>Deck</h3>
  <div class="deck">
    @Html(services.RulesHelpService.deck(rules.deckOptions))
  </div>
  <h3>Layout</h3>
  <div class="layout">
    @defining(models.game.pile.Layouts.forRules(rules.id)) { layout =>
      @layout
    }
  </div>
</div>
