@(rules: models.game.rules.GameRules)
@rulesLink(r: models.game.rules.GameRules) = {
  <a href="@routes.HomeController.help(r.id)">@r.title</a>
  <a href="@routes.HomeController.newGame(r.id)" class="play-link" target="_parent" title="Play Now">&#9654;</a>
}
<div class="rules-help">
  <h2>@rules.title <a href="@routes.HomeController.newGame(rules.id)" target="_parent" class="play-link" title="Play Now">&#9654;</a></h2>
  <div class="description"><em>@Html(services.help.GameRulesHelpService.description(rules.description))</em></div>

  <h3>Objective</h3>
  <div class="objective">@Html(services.help.ObjectiveHelpService.objective(rules.victoryCondition, rules.cardRemovalMethod))</div>

  <h3>Deck</h3>
  <div class="deck">@Html(services.help.DeckOptionsHelpService.deck(rules.deckOptions))</div>

  <h3>Layout</h3>
  @defining(models.game.pile.Layouts.forRules(rules.id)) { layoutString =>
    @defining(services.help.GameRulesHelpService.layout(layoutString, rules)) { layout =>
      <ul class="layout">
        @for(pileSet <- layout) {
          <li>
            <h4>@pileSet._1</h4>
            @if(pileSet._2.nonEmpty) {
              <ul>
                @for(statement <- pileSet._2) {
                  <li>@statement</li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    }
  }

  @rules.like.map { l =>
    <h3>Original Game</h3>
    @defining(models.game.rules.GameRulesSet.allById(l)) { like =>
      <ul>
        <li>
          @rulesLink(like)
          <div>
            <em>@Html(services.help.GameRulesHelpService.description(like.description, link = false))</em>
          </div>
        </li>
      </ul>
    }
  }

  @if(rules.related.nonEmpty) {
    <h3>Related Games</h3>
    <ul>
      @rules.related.map { r =>
        <li>
          @defining(models.game.rules.GameRulesSet.allById(r)) { rel =>
            @rulesLink(rel)
            <div>
              <em>@Html(services.help.GameRulesHelpService.description(rel.description, link = false))</em>
            </div>
          }
        </li>
      }
    </ul>
  }

  @if(rules.links.nonEmpty) {
    <h3>Web Resources</h3>
    <ul>
      @rules.links.map { l =>
        <li>
          <a href="http://@l.url">@l.title</a>
        </li>
      }
    </ul>
  }
</div>
