@(sortBy: String, games: Seq[models.history.GameHistory])
<table class="table table-bordered">
  <thead>
    <tr>
      @utils.play.ViewUtils.th("game-id", "Game ID", sortBy)
      @utils.play.ViewUtils.th("seed", "Seed", sortBy)
      @utils.play.ViewUtils.th("rules", "Rules", sortBy)
      @utils.play.ViewUtils.th("status", "Status", sortBy)
      @utils.play.ViewUtils.th("player", "Player", sortBy)
      @utils.play.ViewUtils.th("moves", "Moves", sortBy)
      @utils.play.ViewUtils.th("undos", "Undos", sortBy)
      @utils.play.ViewUtils.th("redos", "Redos", sortBy)
      @utils.play.ViewUtils.th("created", "Created", sortBy)
      @utils.play.ViewUtils.th("completed", "Completed", sortBy)
    </tr>
  </thead>
  <tbody>
  @for(g <- games) {
    <tr>
      <td title="@g.id">@g.id.toString.substring(0, 8)</td>
      <td>@g.seed</td>
      <td>@g.rules</td>
      <td>@g.status</td>
      @defining(controllers.admin.routes.UserController.userDetail(g.player)) { url =>
        <td>@Html(s"""<a href="$url"><div title="${g.player.toString}">${g.player.toString.substring(0, 8)}</div></a>""")</td>
      }
      <td>@g.moves</td>
      <td>@g.undos</td>
      <td>@g.redos</td>
      <td>@g.created.toString("yyyy-MM-dd HH:mm:ss")</td>
      <td>@g.completed.map(_.toString("yyyy-MM-dd HH:mm:ss"))</td>
    </tr>
  }
  </tbody>
</table>
