#menu-toggle {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: 0;
}

#panel-menu {
  .title {
    padding: 8px;
    font-size: 200%;
    text-align: center;
    font-weight: 200;
  }
}
