@import "_font";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  font-weight: 300;
}

body {
  background-color: #607d8b;
  color: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#section-panels {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#panel-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content {
    font-size: 200%;
    font-size: 3.5vw;
  }
}

