@import "_font";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  font-weight: 300;
}

body {
  background-color: #607d8b;
  color: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

@import "_panels";

@import "_menu";
