@(user: models.user.User)(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.static(user = user, title = Messages("authentication.sign.in", utils.Config.projectName), button = "menu") {
  <div class="sign-in">
    @if(flash.get("error").isDefined) {
      <div class="flash-error">@flash("error")</div>
    }
    <h4>@Messages("authentication.call.to.action", utils.Config.projectName)</h4>

    @defining(models.auth.SocialAuthProviders.providers) { providers =>
      @if(providers.nonEmpty) {
        <div>
          <div>
          @for(p <- providers if p._1 != "credentials") {
            <a title="Sign in with @p._2" href="@controllers.routes.AuthenticationController.authenticateSocial(p._1)" class="provider @p._1">
              <img src="@routes.Assets.versioned(s"images/providers/${p._1}.png")">
            </a>
          }
          </div>
        </div>
      }
    }
  </div>
}
