@(sortBy: String, feedbacks: Seq[models.user.UserFeedback])

<table class="table table-bordered">
  <thead>
    <tr>
      @utils.ViewUtils.th("feedback-id", "ID", sortBy)
      @utils.ViewUtils.th("feedback-user", "User", sortBy)
      @utils.ViewUtils.th("feedback-game", "Game", sortBy)
      @utils.ViewUtils.th("feedback-feedback", "Feedback", sortBy)
      @utils.ViewUtils.th("feedback-occurred", "Occurred", sortBy)
    </tr>
  </thead>
  <tbody>
  @for(f <- feedbacks) {
    <tr>
      <td title="@f.id">@f.id.toString.substring(0, 8)</td>
      <td title="@f.userId"><a href="@controllers.admin.routes.UserController.userDetail(f.userId)">@f.userId.toString.substring(0, 8)</a></td>
      <td>@f.activeGameId</td>
      <td>
        @f.feedback
      </td>
      <td>@f.occurred.toString("yyyy-MM-dd HH:mm:ss")</td>
    </tr>
  }
  </tbody>
</table>
