@(rules: models.rules.GameRules, stats: models.history.GameStatistics)(implicit session: Session, flash: Flash)
@views.html.admin.layout.base(rules.title + " Overview", "tests") {
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="detail-title">@rules.title</h2>
          <em>rules.description</em>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="btn btn-default btn-block" target="_blank" href="@routes.SolitaireController.startArgs("play/" + rules.id).url">Play Now</a>
          <a class="btn btn-default btn-block" target="_blank" href="@routes.SolitaireController.startArgs("help/" + rules.id).url">Help</a>
          <a class="btn btn-default btn-block" target="_blank" href="@controllers.admin.routes.TestController.runTest("solve-" + rules.id).url">Solver Test</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="btn btn-default btn-block" target="_blank" href="http://politaire.com/@rules.id">Politaire</a>
          @rules.links.map { link =>
            <a class="btn btn-default btn-block" target="_blank" href="@routes.UtilController.externalLink(link.url)">@link.title</a>
          }
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- <img src="@controllers.admin.routes.RulesController.rulesScreenshot(rules.id)" class="rules-screenshot" /> -->
          <table class="table">
            <tbody>
              <tr>
                <td>Completed</td>
                <td>@models.rules.GameRulesSet.allByIdWithAliases(rules.id).completed</td>
              </tr>
              <tr>
                <td>Games Played</td>
                <td>@util.NumberUtils.withCommas(stats.played)</td>
              </tr>
              <tr>
                <td>Wins</td>
                <td>@util.NumberUtils.withCommas(stats.wins)</td>
              </tr>
              <tr>
                <td>Losses</td>
                <td>@util.NumberUtils.withCommas(stats.losses)</td>
              </tr>
              <tr>
                <td>Min Duration</td>
                <td>@stats.minDurationMs.map(util.NumberUtils.withCommas)</td>
              </tr>
              <tr>
                <td>Max Duration</td>
                <td>@stats.maxDurationMs.map(util.NumberUtils.withCommas)</td>
              </tr>
              <tr>
                <td>Total Duration</td>
                <td>@util.NumberUtils.withCommas(stats.totalDurationMs)</td>
              </tr>
              <tr>
                <td>Min Moves</td>
                <td>@stats.minMoves.map(util.NumberUtils.withCommas)</td>
              </tr>
              <tr>
                <td>Max Moves</td>
                <td>@stats.maxMoves.map(util.NumberUtils.withCommas)</td>
              </tr>
              <tr>
                <td>Total Moves</td>
                <td>@util.NumberUtils.withCommas(stats.totalMoves)</td>
              </tr>
              <tr>
                <td>Undos</td>
                <td>@util.NumberUtils.withCommas(stats.totalUndos)</td>
              </tr>
              <tr>
                <td>Redos</td>
                <td>@util.NumberUtils.withCommas(stats.totalRedos)</td>
              </tr>
              <tr>
                <td>Last Win</td>
                <td>@stats.lastWin.map(util.DateUtils.fromMillis)</td>
              </tr>
              <tr>
                <td>Last Loss</td>
                <td>@stats.lastLoss.map(util.DateUtils.fromMillis)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
}
