@(rules: models.rules.GameRules)(implicit session: Session, flash: Flash)
@views.html.admin.layout.base(rules.title + " Overview", "tests") {
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="detail-title">@rules.title</h2>
          <em>rules.description</em>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="btn btn-default btn-block" target="_blank" href="@routes.SolitaireController.startArgs(rules.id).url">Play Now</a>
          <a class="btn btn-default btn-block" target="_blank" href="@routes.SolitaireController.startArgs(rules.id + "/help").url">Help</a>
          <a class="btn btn-default btn-block" target="_blank" href="@controllers.admin.routes.TestController.runTest("solve-" + rules.id).url">Solver Test</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="btn btn-default btn-block" target="_blank" href="http://politaire.com/@rules.id">Politaire</a>
          @rules.links.map { link =>
            <a class="btn btn-default btn-block" target="_blank" href="@routes.UtilController.externalLink(link.url)">@link.title</a>
          }
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="@controllers.admin.routes.RulesController.rulesScreenshot(rules.id)" class="rules-screenshot" /><br />
          <table class="table">
            <tbody>
              <tr>
                <td class="rules-property-label">Completed</td>
                <td>@models.rules.GameRulesSet.allByIdWithAliases(rules.id).completed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
}
