@(ruleSet: Seq[models.rules.GameRules])(implicit session: Session, flash: Flash)

@views.html.admin.layout.base(util.Config.projectName + " Rules", "rules") {
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text-large">
        @util.NumberUtils.withCommas(ruleSet.size) Available Rules
      </div>
    </div>
  </div>

  <h4>Rules</h4>
  @for(rules <- ruleSet.sortBy(_.title)) {
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-large">@rules.title (@rules.id)</div>
        <pre>@util.JsonSerializers.writeRules(rules)</pre>
      </div>
    </div>
  }
}
