@(sortBy: String, statuses: Seq[models.audit.RulesStatus])
@icon(i: String, t: String) = { <span title="@t" class="glyphicon glyphicon-@i"></span> }
<table class="table table-bordered">
  <thead>
    <tr>
      @utils.play.ViewUtils.th("title", "Rules", sortBy)
      @utils.play.ViewUtils.th("status", "Status", sortBy)
      @utils.play.ViewUtils.th("seeds", "Winning Seeds", sortBy)
      @utils.play.ViewUtils.th("max-moves", "Max Moves", sortBy)
      @utils.play.ViewUtils.th("avg-moves", "Avg Moves", sortBy)
      @utils.play.ViewUtils.th("min-moves", "Min Moves", sortBy)
    </tr>
  </thead>
  <tbody>
  @for(rs <- statuses) {
    <tr>
      <td><a href="@controllers.admin.routes.RulesController.rulesDetail(rs.rules.id)">@rs.rules.title</a></td>
      <td>@if(rs.completed) {
        @icon("ok", "Complete")
      } else {
        @icon("remove", "Not Started")
      }</td>
      <td>@utils.Formatter.withCommas(rs.winningSeeds)</td>
      <td>@utils.Formatter.withCommas(rs.maxMoves)</td>
      <td>@utils.Formatter.withCommas(rs.avgMoves)</td>
      <td>@utils.Formatter.withCommas(rs.minMoves)</td>
    </tr>
  }
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>@utils.Formatter.withCommas(statuses.map(_.winningSeeds).sum)</th>
      <th>@utils.Formatter.withCommas(statuses.map(_.maxMoves).max)</th>
      <th>@utils.Formatter.withCommas(statuses.map(_.avgMoves).sum / statuses.size)</th>
      <th>@utils.Formatter.withCommas(statuses.map(_.minMoves).min)</th>
    </tr>
  </tfoot>
</table>
