@(status: (models.rules.GameRules, models.leaderboard.GameSeed.SeedCount))(implicit session: Session, flash: Flash, identity: models.user.User)
@views.html.admin.layout.base(status._1.title + " Overview", "tests") {
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 id="detail-title">@status._1.title</h2>
          <em>@Html(services.help.GameRulesHelpService.description(status._1.description))</em>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="btn btn-default btn-block" target="_blank" href="@routes.GameController.newGame(status._1.id).url">Play Now</a>
          <a class="btn btn-default btn-block" target="_blank" href="@routes.GameController.help(status._1.id).url">Help</a>
          <a class="btn btn-default btn-block" target="_blank" href="@controllers.admin.routes.TestController.runTest("solve-" + status._1.id).url">Solver Test</a>
          <a class="btn btn-default btn-block" target="_blank" href="@controllers.admin.routes.GameHistoryController.gameList(status._1.id, "created", 0)">View Games</a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="btn btn-default btn-block" target="_blank" href="http://politaire.com/@status._1.id">Politaire</a>
          @status._1.links.map { link =>
            <a class="btn btn-default btn-block" target="_blank" href="@routes.HomeController.externalLink(link.url)">@link.title</a>
          }
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="@controllers.admin.routes.RulesController.rulesScreenshot(status._1.id)" class="rules-screenshot" /><br />
          <table class="table">
            <tbody>
              <tr>
                <td class="rules-property-label">Games</td>
                <td>@status._2.games</td>
              </tr>
              <tr>
                <td class="rules-property-label">Wins</td>
                <td>@status._2.games</td>
              </tr>
              <tr>
                <td class="rules-property-label">Winning Seeds</td>
                <td>@status._2.seeds</td>
              </tr>
              <tr>
                <td class="rules-property-label">Moves</td>
                <td>min @status._2.minMoves / avg @status._2.avgMoves / max @status._2.maxMoves</td>
              </tr>
              <tr>
                <td class="rules-property-label">Completed</td>
                <td>@models.rules.GameRulesSet.allByIdWithAliases(status._1.id).completed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
}
