@()(implicit session: Session, flash: Flash)@layout.bootstrap(
  utils.Config.projectName + " Admin",
  stylesheets = Seq(routes.Assets.at("stylesheets/admin.css").url)
) {
  <h3>@utils.Config.projectName Admin</h3>
  <ul>
    <li><a href="@routes.AdminController.accountList().url">Account List</a></li>
    <li><a href="@routes.AdminController.status().url">Server Status</a></li>
    <li>
      <a href="@routes.AdminController.runTest("all").url">Run All Tests</a>
      <ul>
        <li><a href="@routes.AdminController.runTest("account").url">Run Account Tests</a></li>
        <li><a href="@routes.AdminController.runTest("known").url">Run Known Game Tests</a></li>
        <li><a href="@routes.AdminController.runTest("solver").url">Run Solver Tests</a></li>
        <li>
          <a href="@routes.AdminController.runTest("variants").url">Run All Variant Tests</a>
          <ul>
            @for(v <- models.game.variants.GameVariant.all) {
              <li><a href="@routes.AdminController.runTest(v.key).url">Run @v.name Test</a></li>
            }
          </ul>
        </li>
      </ul>
    </li>
  </ul>
}
