@(sortBy: String, games: Seq[GameHistory], link: Boolean = false)

@th(key: String, label: String) = {
  @if(sortBy == key) {
    <th nowrap="nowrap" class="th-@key">@label <span class="caret"></span></th>
  } else {
    <th nowrap="nowrap" class="th-@key"><a href="?sortBy=@key">@label</a></th>
  }
}

<table class="table table-bordered">
  <thead>
    <tr>
      @th("game-id", "Game ID")
      @th("seed", "Seed")
      @th("variant", "Variant")
      @th("status", "Status")
      @th("accounts", "Accounts")
      @th("moves", "Moves")
      @th("undos", "Undos")
      @th("redos", "Redos")
      @th("created", "Created")
      @th("completed", "Completed")
    </tr>
  </thead>
  <tbody>
  @for(g <- games) {
    <tr>
      <td title="@g.id">@g.id.toString.substring(0, 8)</td>
      <td>@g.seed</td>
      <td>@g.variant</td>
      <td>@g.status</td>
      @if(link) {
        <td>@Html(g.accounts.map(a => "<a href=\"" + controllers.admin.routes.AccountController.accountDetail(a) + "\"><div title=\"" + a.toString + "\">" + a.toString.substring(0, 8) + "</div></a>").mkString(", "))</td>
      } else {
        <td>@Html(g.accounts.map(a => "<div title=\"" + a.toString + "\">" + a.toString.substring(0, 8) + "</div>").mkString(", "))</td>
      }
      <td>@g.moves</td>
      <td>@g.undos</td>
      <td>@g.redos</td>
      <td>@g.created.toString("yyyy-MM-dd HH:mm:ss")</td>
      <td>@g.completed.map(_.toString("yyyy-MM-dd HH:mm:ss"))</td>
    </tr>
  }
  </tbody>
</table>
