@(q: String, games: Seq[GameHistory])(implicit session: Session, flash: Flash)@layout.admin(utils.Config.projectName + " Games", "games") {
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-right">
          <form id="search-form" action="@controllers.admin.routes.GameHistoryController.gameList()" class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" name="q" id="searchInput" placeholder="Search Games" value="@q">
                <div class="input-group-addon" id="search-button"><span class="glyphicon glyphicon-search"></span></div>
              </div>
            </div>
          </form>
        </div>
        <div class="text-large">
          @if(q.isEmpty) {
            @games.size game@if(games.size != 1){s}.
          } else {
            @games.size games@if(games.size != 1){s} for query [@q].
          }
        </div>
      </div>
    </div>

    @if(games.isEmpty) {
      <div class="panel panel-default">
        <div class="panel-body">
          No games found.
        </div>
      </div>
    } else {
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="th-game-id">Game ID</th>
            <th class="th-seed">Seed</th>
            <th class="th-variant">Variant</th>
            <th class="th-status">Status</th>
            <th class="th-accounts">Accounts</th>
            <th class="th-moves">Moves</th>
            <th class="th-undos">Undos</th>
            <th class="th-redos">Redos</th>
            <th class="th-created">Created</th>
            <th class="th-completed">Completed</th>
          </tr>
        </thead>
        <tbody>
          @for(g <- games) {
            <tr>
              <td title="@g.id">@g.id.toString.substring(0, 8)</td>
              <td>@g.seed</td>
              <td>@g.variant</td>
              <td>@g.status</td>
              <td>@Html(g.accounts.map( a => "<div title=\"" + a.toString + "\">" + a.toString.substring(0, 8)  + "</div>").mkString(", "))</td>
              <td>@g.moves</td>
              <td>@g.undos</td>
              <td>@g.redos</td>
              <td>@g.created.toString("yyyy-MM-dd HH:mm:ss")</td>
              <td>@g.completed.map(_.toString("yyyy-MM-dd HH:mm:ss"))</td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
}
