@(gameId: Option[java.util.UUID], username: Option[String])(implicit session: Session, flash: Flash)
@import models.game.variants.GameVariant

@layout.bootstrap(utils.Config.projectName + " Admin") {
  <script>
    $(function() {

    });
  </script>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-right">
            Seed: <input type="text" id="game-seed" value="0" />
            <button>New Game</button>
          </div>
          <div id="status" style="padding-top: 3px;">Disconnected</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="game-container" style="width: 100%; height: 600px;">
          </div>
          @statusPanel()
        </div>
      </div>
    </div>
  </div>

  <script>
    window.scalataireConfig = {
      "id": "@utils.Config.projectId",
      "name": "@utils.Config.projectName",
      "account": {
        "id": "@session("account")",
        "name": "@session("name")"
      },
      "debug": "@utils.Config.debug",
      "cardSet": "@utils.Config.defaultCardSet",
      "cardSize": "@utils.Config.defaultCardSize",
      "variant": "observe",
      "variants": [@Html(GameVariant.all.map(v => "['" + v.key + "', '" + v.name + "']").mkString(", "))],

      @if(gameId.isDefined) {
        @if(username.isDefined) {
          "initialAction" : ["observe", "@gameId.get", "@username.get" ]
        } else {
          "initialAction": ["observe", "@gameId.get"]
        }
      } else {
        "initialAction": ["observe", "random"]
      }
    };
  </script>
  <script src="/assets/lib/phaser/js/phaser.js"></script>
  <script src="/assets/lib/phaser/js/phaser-debug.js"></script>
  <script src="/assets/lib/dat.gui/dat.gui.js"></script>

  <script data-main="/assets/javascripts/main" src="/assets/lib/requirejs/require.min.js"></script>
}
