@(account: java.util.UUID, name: String, gameId: Option[java.util.UUID], as: Option[java.util.UUID])(implicit session: Session, flash: Flash)@layout.admin(
  utils.Config.projectName + " Admin", "activity"
) {
  <div class="row status-row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pull-right">
            <label for="game-seed">Seed</label>: <input type="text" id="game-seed" value="0" />
            <button>New Game</button>
          </div>
          <div id="status">Disconnected</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="game-container" class="inline-game">
          </div>
          @views.html.game.statusPanel()
        </div>
      </div>
    </div>
  </div>

  @defining(if(gameId.isDefined) {
    if(as.isDefined) {
      Seq("observe", gameId.get, as.get)
    } else {
      Seq("observe", gameId.get)
    }
  } else {
      Seq("observe", "random")
  } ) { initialAction =>
    <pre id="@utils.Config.projectId-config">
    {
      "account": {
        "id": "@account",
        "name": "@name"
      },
      "gameId": "@utils.Config.projectId",
      "gameName": "@utils.Config.projectName",
      "debug": "@utils.Config.debug",
      "cardSet": "@utils.Config.defaultCardSet",
      "cardSize": "@utils.Config.defaultCardSize",
      "initialAction": [ @initialAction.map("\"" + _ + "\"").mkString(", ") ]
    }
    </pre>
  }

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/phaser-debug.css").url" />
  <script src="@routes.Assets.at("lib/phaser/js/phaser.js").url"></script>
  <script src="@routes.Assets.at("lib/phaser/js/phaser-debug.js").url"></script>

  <script data-main="/assets/javascripts/main" src="/assets/lib/requirejs/require.min.js"></script>
}
