@()<div id="panel-menu" class="section-panel">
  <div class="panel-content">
    <ul>
      <li><a id="menu-link-play" href="@controllers.routes.SolitaireController.startArgs("play")">Play</a></li>
      <li><a id="menu-link-settings" href="@controllers.routes.SolitaireController.startArgs("settings")">Settings</a></li>
      <li><a id="menu-link-help" href="@controllers.routes.SolitaireController.startArgs("help")">Help</a></li>
      <li><a id="menu-link-games" href="@controllers.routes.SolitaireController.startArgs("games")">Game List</a></li>
    </ul>
  </div>
</div>
