@(user: models.user.User, games: Seq[models.history.GameHistory], requests: Seq[models.history.RequestLog], sortBy: String)(
  implicit session: Session, flash: Flash
)@layout.admin(s"${utils.Config.projectName} User [${user.username}]", "users") {
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>@user.username (@user.color)</h4>
      <h5>@user.id</h5>
      <em>@games.size games, @requests.size requests</em>
    </div>
  </div>

  @if(games.isEmpty) {
    <div class="panel panel-default">
      <div class="panel-body">
        No games found for this user.
      </div>
    </div>
  } else {
    <h4>@utils.Formatter.withCommas(games.size) games</h4>
    @views.html.admin.game.gameListTable(sortBy, games)
  }

  @if(requests.isEmpty) {
    <div class="panel panel-default">
      <div class="panel-body">
        No requests found for this user.
      </div>
    </div>
  } else {
    <h4>@utils.Formatter.withCommas(requests.size) requests</h4>
    @views.html.admin.request.requestListTable(sortBy, requests)
  }
}
