@(user: models.user.User, gameCount: Int, requestCount: Int, self: java.util.UUID)(implicit session: Session, flash: Flash, identity: models.user.User)
@views.html.admin.layout.base(s"${utils.Config.projectName} User Detail", "explore") {
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="pull-right">
        @if(user.id == self) {
          This is you.
        } else {
          @if(user.roles.contains(models.user.Role.Admin)) {
            <a href="@controllers.admin.routes.UserController.removeAdmin(user.id)" class="btn btn-default">Remove Admin Role</a>
          } else {
            <a href="@controllers.admin.routes.UserController.makeAdmin(user.id)" class="btn btn-default">Make Admin</a>
          }
        }
      </div>
      @user.username.map { un => <h4>@un</h4> }
      <h5>@user.id</h5>
      <em>@gameCount games, @requestCount requests</em>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h5>Preferences</h5>
      <table class="table">
        <tr>
          <td>Username</td>
          <td>@user.username</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>@user.preferences.color</td>
        </tr>
        <tr>
          <td>Avatar</td>
          <td>@user.preferences.avatar</td>
        </tr>
        <tr>
          <td>Auto Flip</td>
          <td>@user.preferences.autoFlip</td>
        </tr>
        <tr>
          <td>Card Preferences</td>
          <td>
            Back: @user.preferences.cards.back
            Layout: @user.preferences.cards.layout,
            Ranks: @user.preferences.cards.ranks,
            Suits: @user.preferences.cards.suits,
            Face Cards: @user.preferences.cards.faceCards
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h5>Profiles</h5>
      <table class="table">
      @if(user.profiles.isEmpty) {
        <tr><td>Guest User</td></tr>
      } else {
        <tr><th>Provider</th><td>Key</td></tr>
        @for(profile <- user.profiles) {
          <tr><td>@profile.providerID</td><td>@profile.providerKey</td></tr>
        }
      }
      </table>
    </div>
  </div>
}
