@(files: Seq[(String, Int)])(implicit session: Session, flash: Flash)
@views.html.admin.layout.base(s"${util.Config.projectName} Logs", "explore") {
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text-large">@util.Formatter.withCommas(files.size) log files</div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th nowrap="nowrap" class="th-log-file">Log File</th>
        <th nowrap="nowrap" class="th-log-size">Size</th>
      </tr>
    </thead>
    <tbody>
    @for(file <- files) {
      <tr>
        <td><a href="@controllers.admin.routes.LogController.view(file._1)">@file._1</a></td>
        <td>@util.Formatter.withCommas(file._2)B</td>
      </tr>
    }
    </tbody>
  </table>
}
