@()(implicit session: Session, flash: Flash, identity: models.user.User)
@views.html.admin.layout.base("Send Notification", "activity") {
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="list-panel notification">
            <h5>Notify All Connections</h5>
            <form action="@controllers.admin.routes.AdminController.notification("all")" method="post" enctype="application/x-www-form-urlencoded">
              <textarea name="message" class="notification-message" placeholder="Message"></textarea>
              <input type="submit" value="Send Notification" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
}
