@(traceType: String, trace: TraceResponse, buttons: Seq[(String, String)] = Nil)(implicit session: Session, flash: Flash)
@if(buttons.nonEmpty) {
  <div class="pull-right">
    @buttons.map { b =>
      <a class="btn btn-default" target="_blank" href="@b._2">@b._1</a>
    }
  </div>
}

<h4>@traceType [@trace.id]</h4>

<table class="table table-bordered">
  @for(stat <- trace.data) {
    <tr>
      <td>@stat._1</td>
      <td>@Html(stat._2.toString)</td>
    </tr>
  }
  @if(traceType == "Connection") {
    <tr>
      <td class="notification" colspan="2">
        <form action="@controllers.admin.routes.AdminController.notification(trace.id.toString)" method="post" enctype="application/x-www-form-urlencoded">
          <textarea name="message" class="notification-message" placeholder="Message"></textarea>
          <input type="submit" value="Send Notification" />
        </form>
      </td>
    </tr>
  }
</table>
