@()
<div id="status-container">
  <div class="menu-left">
    <div id="btn-options" title="Options" class="btn options"></div>
    <div id="btn-help" title="Help" class="btn help"></div>
    <div id="btn-feedback" title="Feedback" class="btn feedback"></div>
  </div>
  <div class="menu-right">
    <div id="btn-redo" title="No redos available" class="btn redo disabled"></div>
    <div id="btn-hint" title="Click for a hint" class="btn hint"></div>
    <div id="btn-undo" title="No undos available" class="btn undo disabled"></div>
  </div>
  <div class="timer-container">
    <span id="timer-display">0:00</span>
  </div>
</div>
