@(title: String, button: String, url: Option[String] = None, description: Option[String] = None)(content: Html)(
  implicit request: Request[AnyContent], session: Session, flash: Flash
)@views.html.layout.basic(
  title = title,
  stylesheets = Seq(routes.Assets.versioned("stylesheets/solitaire.gg.min.css").url),
  url = url,
  description = description
) {
  <div id="menu-container">
    <div class="logo">
      <a href="@routes.HomeController.index()">@utils.Config.projectName</a>
    </div>
  </div>

  <div id="page-content">
  @content
  </div>
}
