@(user: models.user.User, title: String, button: String, routesMap: utils.play.RoutesMap = utils.play.RoutesMap.dynamic)(content: Html)(
  implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.basic(
  title = title,
  scripts = Seq(routesMap("script-root", "static.js")),
  stylesheets = Seq(routesMap("css-root", "solitaire.gg.min.css")),
  bodyClass = Some(s"background-${user.preferences.color}"),
  faviconColor = Some(user.preferences.color),
  routesMap = routesMap
) {
  <div id="menu-container">
    <div class="menu-left">
      @if(button == "about") {
      <a id="btn-help" title="About @utils.Config.projectName" class="help btn btn-@user.preferences.color" href="@routesMap("about")"></a>
      } else { @if(button == "menu") {
      <a id="btn-menu" title="@utils.Config.projectName" class="menu btn btn-@user.preferences.color" href="@routesMap("index")"></a>
      } else {
      ICON ERROR
      } }
      <div id="btn-game-options" title="@utils.Config.projectName Options" class="game-options btn btn-@user.preferences.color"></div>
    </div>

    <div class="menu-right">
      @defining(if(user.preferences.avatar == "guest" || user.preferences.avatar == "default") {
        routes.Assets.versioned("images/avatar/default.png")
      } else {
        user.preferences.avatar
      }) { av =>
      <a href="@routesMap("profile")" title="@if(user.isGuest) { Sign In } else { Profile }"><img class="avatar-small" src="@av" /></a>
      }
      <a id="profile-link" class="link" href="@routes.ProfileController.profile()">@user.username.getOrElse("")</a>
    </div>

    <div class="logo">
      <a href="@routes.HomeController.index()">@utils.Config.projectName</a>
    </div>
  </div>

  <div id="static-options-panel">
    <div id="color-list"> @for(color <- ui.Colors.all) {
      <div id="color-@color._1" class="game-option background-color @{ if(color._1 == user.preferences.color) { " active" } else { "" } }">
        <div class="background-@color._1"></div>
      </div> }
    </div>
    <div class="action-buttons">
      <div id="btn-confirm" title="OK" class="ok btn btn-@user.preferences.color disabled"></div>
    </div>
  </div>

  <div id="page-content">
    @content
  </div> }
