@(user: models.user.User, routesMap: utils.play.RoutesMap)(implicit messages: Messages)
<div id="menu-container" class="fixed">
  <div class="menu-left">
    <div id="btn-menu" title="@Messages("menu.title")" class="btn btn-@user.preferences.color menu invisible"></div>
    <div id="btn-options" title="@Messages("menu.options")" class="options btn btn-@user.preferences.color invisible"></div>
  </div>
  <div class="menu-right">
    @defining(if(user.preferences.avatar == "guest" || user.preferences.avatar == "default") {
      routes.Assets.versioned("images/avatar/profile-ffffff@2x.png")
    } else {
      user.preferences.avatar
    }) { av =>
      <a href="@routesMap("profile")"><img title="Profile for [@user.username.getOrElse("Guest")]" class="avatar-small" src="@av" /></a>
    }
    <a class="link" href="@routesMap("profile")">@user.username.getOrElse(Messages("guest.name"))</a>
  </div>
  <div class="logo">
    <a href="@routesMap("index")">@utils.Config.projectName</a>
  </div>
</div>
