@(settings: models.settings.Settings, debug: Boolean)(implicit session: Session, flash: Flash, messages: Messages)@views.html.layout.basic(
  title = utils.Config.projectName,
  stylesheets = Seq(routes.Assets.versioned("stylesheets/gg.min.css").url)
) {
  <style id="theme-style" type="text/css">
    body {
      background-color: @settings.backgroundColor;
      @settings.backgroundPattern.map(p => s"background-image: url(/assets/images/background/$p.png);")
    }
  </style>
  <main class="top-nav" id="section-panels">
    @views.html.solitaire.panel.games()
    @views.html.solitaire.panel.help()
    @views.html.solitaire.panel.status()
    @views.html.solitaire.panel.settings()
    @views.html.solitaire.panel.game()
    @views.html.solitaire.panel.menu()
    @views.html.solitaire.panel.loading()
  </main>

  <div id="menu-nav">
    <svg id="menu-toggle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" stroke="white" fill="white" xml:space="preserve">
      <g>
        <path d="M45.77,62.334H18.231c-4.411,0-8-3.589-8-8V9.666c0-4.411,3.589-8,8-8H45.77c4.411,0,8,3.589,8,8v44.668    C53.77,58.745,50.181,62.334,45.77,62.334z M18.231,3.666c-3.309,0-6,2.691-6,6v44.668c0,3.309,2.691,6,6,6H45.77    c3.309,0,6-2.691,6-6V9.666c0-3.309-2.691-6-6-6H18.231z"/>
        <path d="M32,44.744c-0.281,0-0.549-0.118-0.738-0.325c-0.938-1.027-1.913-2.063-2.884-3.095c-4.905-5.214-9.539-10.139-9.539-13.84   c0-4.538,3.412-8.229,7.605-8.229c2.137,0,4.131,0.956,5.556,2.614c1.424-1.658,3.419-2.614,5.557-2.614   c4.193,0,7.604,3.691,7.604,8.229c0,3.719-4.981,9.007-9.799,14.122c-0.909,0.965-1.799,1.909-2.624,2.813   C32.549,44.626,32.281,44.744,32,44.744z M26.444,21.255c-3.091,0-5.605,2.794-5.605,6.229c0,2.908,4.573,7.769,8.996,12.47   c0.725,0.771,1.452,1.544,2.166,2.313c0.615-0.662,1.255-1.343,1.906-2.033c4.123-4.377,9.255-9.825,9.255-12.75   c0-3.435-2.515-6.229-5.604-6.229c-1.897,0-3.652,1.06-4.694,2.836c-0.359,0.61-1.365,0.612-1.725,0   C30.094,22.315,28.34,21.255,26.444,21.255z"/>
      </g>
    </svg>
    <span id="menu-title">@utils.Config.projectName</span>
  </div>

  @if(debug) {
  <script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("lib/phaser/phaser-arcade-physics.js")" type="text/javascript" defer="defer"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/phaser-debug.min.css").url" />
  <script src="@routes.Assets.versioned("lib/phaser/phaser-debug.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("lib/spectrum/spectrum.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("client-fastopt.js")" type="text/javascript" defer="defer"></script>
  } else {
  <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("lib/phaser/phaser-arcade-physics.min.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("lib/spectrum/spectrum.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("client-opt.js")" type="text/javascript" defer="defer"></script>
  }

  <script src="@controllers.routes.MessagesController.strings()" type="text/javascript" defer="defer"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() { SolitaireGG.go(@debug); });
  </script>
}
