@(debug: Boolean)(implicit session: Session, flash: Flash, messages: Messages)@layout.basic(
  title = utils.Config.projectName,
  stylesheets = Seq(routes.Assets.versioned("stylesheets/solitaire/gg.min.css").url),
  url = Some("/play")
) {
  <div id="section-panels">
    @views.html.solitaire.panel.list()
    @views.html.solitaire.panel.help()
    @views.html.solitaire.panel.status()
    @views.html.solitaire.panel.game()
    @views.html.solitaire.panel.menu()
    @views.html.solitaire.panel.loading()
  </div>

  @if(debug) {
  <script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("lib/phaser/js/phaser-arcade-physics.js")" type="text/javascript" defer="defer"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/phaser-debug.min.css").url" />
  <script src="@routes.Assets.versioned("lib/phaser/js/phaser-debug.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("client-fastopt.js")" type="text/javascript" defer="defer"></script>
  } else {
  <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("lib/phaser/js/phaser-arcade-physics.min.js")" type="text/javascript" defer="defer"></script>
  <script src="@routes.Assets.versioned("client-opt.js")" type="text/javascript" defer="defer"></script>
  }

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() { SolitaireGG.go(@debug); });
  </script>

}
