@(sortBy: String, events: Seq[models.audit.AnalyticsEvent])
<table class="table table-bordered">
  <thead>
    <tr>
      @utils.web.ViewUtils.th("event-id", "Trace ID", sortBy)
      @utils.web.ViewUtils.th("event-type", "Event Type", sortBy)
      @utils.web.ViewUtils.th("device", "Device", sortBy)
      @utils.web.ViewUtils.th("data", "Data", sortBy)
      @utils.web.ViewUtils.th("created", "Created", sortBy)
      <th></th>
    </tr>
  </thead>
  <tbody>
  @for(e <- events) {
    <tr>
      @defining(controllers.admin.routes.AnalyticsEventController.eventDetail(e.id)) { url =>
        <td>
          <a href="@url" title="@e.id">@e.id.toString.substring(0, 8)</a>
        </td>
      }
      <td>@e.eventType</td>
      <td title="@e.device">@e.device.toString.substring(0, 8)</a>
      </td>
      <td><pre>@play.api.libs.json.Json.prettyPrint(e.data)</pre></td>
      <td>@e.created.toString("yyyy-MM-dd HH:mm:ss")</td>
      <td><a href="@controllers.admin.routes.AnalyticsEventController.removeEvent(e.id)"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
  }
  </tbody>
</table>
