@(status: Seq[(org.joda.time.LocalDate, Int, Seq[(String, Long)])])(implicit session: Session, flash: Flash, identity: models.user.User)
@views.html.admin.layout.base("Analytics Export", "analytics") {
  <div class="pull-right">
    <a class="btn btn-default btn-xs" href="@controllers.admin.routes.AnalyticsExportController.removeAllFiles()" onclick="return confirm('Yeah?');">Remove File Cache</a>
    <a class="btn btn-default btn-xs" href="@controllers.admin.routes.AnalyticsExportController.cacheMissingFiles()">Process Missing Files</a>
  </div>
  <h3 style="margin-top: 0;">Analytics Export Status</h3>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Rows</th>
        <th>Filename</th>
        <th>Size</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @status.map { s =>
        <tr>
          <td>@s._1</td>
          <td>@s._2</td>
          <td>@s._3.map { x =>
            <a href="@controllers.admin.routes.AnalyticsExportController.downloadFile(s._1, x._1)">@x._1</a><br>
          }</td>
          <td style="text-align: right;">@s._3.map { x => @utils.Formatter.withCommas(x._2)<br> }</td>
          <td>Ok</td>
          <td style="text-align: right; width: 100px;">
            @if(s._2 > 0) {
              @defining(controllers.admin.routes.AnalyticsExportController.wipeDatabase(s._1)) { url =>
                <a href="@url" class="btn btn-default btn-xs"><span title="Remove Day From Database" class="glyphicon glyphicon-fire"></span></a>
              }
            }
            @if(s._2 == 0 && s._3.nonEmpty) {
              <a href="" class="btn btn-default btn-xs" onclick="alert('TODO');"><span title="Upload Files To Database" class="glyphicon glyphicon-upload"></span></a>
            }
            @if(s._2 > 0 && s._3.isEmpty) {
              @defining(controllers.admin.routes.AnalyticsExportController.cacheFiles(s._1)) { url =>
                <a href="@url" class="btn btn-default btn-xs"><span title="Cache Files" class="glyphicon glyphicon-hdd"></span></a>
              }
            }
            @if(s._3.nonEmpty) {
              <a href="" class="btn btn-default btn-xs" onclick="alert('TODO');"><span title="Download All Files Locally" class="glyphicon glyphicon-download"></span></a>
              @defining(controllers.admin.routes.AnalyticsExportController.removeFiles(s._1)) { url =>
                <a href="@url" class="btn btn-default btn-xs"><span title="Remove Files" class="glyphicon glyphicon-remove"></span></a>
              }
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
