@(x: Seq[(org.joda.time.LocalDate, (Int, Int, Int, Int, Int, Int))])(implicit session: Session, flash: Flash)
@views.html.admin.layout.base("Analytics File Cache Overview", "analytics") {
  <h3 style="margin-top: 0;">Analytics File Cache Overview</h3>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th style="width: 140px; text-align: right;">
          <a href="@controllers.admin.routes.AnalyticsFileController.trends("install.log")">Installs</a>
        </th>
        <th style="width: 140px; text-align: right;">
          <a href="@controllers.admin.routes.AnalyticsFileController.trends("open.log")">Opens</a>
        </th>
        <th style="width: 140px; text-align: right;">
          <a href="@controllers.admin.routes.AnalyticsFileController.trends("game-won.log")">Games Started</a>
        </th>
        <th style="width: 140px; text-align: right;">
          <a href="@controllers.admin.routes.AnalyticsFileController.trends("game-resigned.log")">Games Resigned</a>
        </th>
        <th style="width: 140px; text-align: right;">
          <a href="@controllers.admin.routes.AnalyticsFileController.trends("game-won.log")">Games Won</a>
        </th>
        <th style="width: 140px; text-align: right;">
          <a href="@controllers.admin.routes.AnalyticsFileController.trends("error.log")">Errors</a>
        </th>
      </tr>
    </thead>
    <tbody>
      @x.map { r =>
        <tr>
          <td>
            <a href="@controllers.admin.routes.AnalyticsFileController.summary(r._1)">@r._1</a>
          </td>
          <td style="width: 140px; text-align: right;">
            @if(r._2._1 > 0) {
              <a href="@controllers.admin.routes.AnalyticsFileController.detail(r._1, "install.log")">@utils.Formatter.withCommas(r._2._1)</a>
            }
          </td>
          <td style="width: 140px; text-align: right;">
          @if(r._2._2 > 0) {
            <a href="@controllers.admin.routes.AnalyticsFileController.detail(r._1, "open.log")">@utils.Formatter.withCommas(r._2._2)</a>
          }
          </td>
          <td style="width: 140px; text-align: right;">
          @if(r._2._3 > 0) {
            <a href="@controllers.admin.routes.AnalyticsFileController.detail(r._1, "game-start.log")">@utils.Formatter.withCommas(r._2._3)</a>
          }
          </td>
          <td style="width: 140px; text-align: right;">
          @if(r._2._4 > 0) {
            <a href="@controllers.admin.routes.AnalyticsFileController.detail(r._1, "game-resigned.log")">@utils.Formatter.withCommas(r._2._4)</a>
          }
          </td>
          <td style="width: 140px; text-align: right;">
          @if(r._2._5 > 0) {
            <a href="@controllers.admin.routes.AnalyticsFileController.detail(r._1, "game-won.log")">@utils.Formatter.withCommas(r._2._5)</a>
          }
          </td>
          <td style="width: 140px; text-align: right;">
          @if(r._2._6 > 0) {
            <a href="@controllers.admin.routes.AnalyticsFileController.detail(r._1, "error.log")">@utils.Formatter.withCommas(r._2._6)</a>
          }
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th>Totals</th>
        <th style="width: 140px; text-align: right;">@utils.Formatter.withCommas(x.map(_._2._1).sum)</th>
        <th style="width: 140px; text-align: right;">@utils.Formatter.withCommas(x.map(_._2._2).sum)</th>
        <th style="width: 140px; text-align: right;">@utils.Formatter.withCommas(x.map(_._2._3).sum)</th>
        <th style="width: 140px; text-align: right;">@utils.Formatter.withCommas(x.map(_._2._4).sum)</th>
        <th style="width: 140px; text-align: right;">@utils.Formatter.withCommas(x.map(_._2._5).sum)</th>
        <th style="width: 140px; text-align: right;">@utils.Formatter.withCommas(x.map(_._2._6).sum)</th>
      </tr>
    </tfoot>
  </table>
}
