@(d: org.joda.time.LocalDate, key: String, events: Seq[controllers.admin.AnalyticsFileController.Detail])(implicit session: Session, flash: Flash)
@import utils.json.AdminSerializers._
@views.html.admin.layout.base(s"File Detail for $d/$key", "analytics") {
  <h3 style="margin-top: 0;">File Detail for @d/@key</h3>

  @events.map { event =>
    <h5>@event.analyticsEvent.map(_.id).getOrElse("???")</h5>
    @event.throwable.map { t =>
      <div>Exception encounted: @t.toString</div>
    }
    @event.jsError.map { e =>
      <div>JsError encounted: @e.toString</div>
    }
    @if(event.clientEvent.isDefined) {
      <pre style="word-wrap: normal; white-space: pre; overflow: auto;">@event.clientEvent.get</pre>
    } else {
      @if(event.analyticsEvent.isDefined) {
        @defining(play.api.libs.json.Json) { j =>
          <pre style="word-wrap: normal; white-space: pre; overflow: auto;">@j.prettyPrint(j.toJson(event.analyticsEvent.get))</pre>
        }
      } else {
        <pre style="word-wrap: normal; white-space: pre;overflow: auto;">@event.line</pre>
      }
    }
  }
}
