@(showData: Boolean, events: Seq[(models.audit.AnalyticsEvent, String)])(implicit session: Session, flash: Flash) @views.html.admin.layout.base(s"Analytics Events", "analytics") {
  <h4>@utils.Formatter.withCommas(events.size) analytics events.</h4>
  <em>@events.size records processed.</em>
  <h4>Event Details</h4>
  @events.map { ev =>
    <div style="float: right;">@ev._1.id</div>
    <strong>@ev._1.eventType</strong>
    <div>
      <div style="float: right;">@utils.Formatter.niceDateTime(ev._1.created)</div>
      <div>@ev._2</div>
    </div>
    @if(showData) {
      <pre>@play.api.libs.json.Json.prettyPrint(ev._1.data)</pre>
      <hr/>
    }
  }
}

