@(q: String, sortBy: String, count: Int, page: Int, seeds: Seq[models.history.GameSeed])(implicit session: Session, flash: Flash)
@views.html.admin.layout.list(
  "seed", "Seeds", "explore", count, page, seeds.size, q,
  searchAction = controllers.admin.routes.GameSeedController.list(),
  prevLink = controllers.admin.routes.GameSeedController.list(q, sortBy, page - 1),
  nextLink = controllers.admin.routes.GameSeedController.list(q, sortBy, page + 1)
) {
  @views.html.admin.seed.table(sortBy, seeds)
}
