@(sortBy: String, seeds: Seq[models.history.GameSeed])
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="5"></th>
      <th colspan="4">First</th>
      <th colspan="4">Fastest</th>
      <th></th>
    </tr>
    <tr>
      @util.web.ViewUtils.th("rules", "Rules", sortBy)
      @util.web.ViewUtils.th("seed", "Seed", sortBy)
      @util.web.ViewUtils.th("games", "Games", sortBy)
      @util.web.ViewUtils.th("wins", "Wins", sortBy)
      @util.web.ViewUtils.th("moves", "Moves", sortBy)
      @util.web.ViewUtils.th("first_player", "Player", sortBy)
      @util.web.ViewUtils.th("first_moves", "Moves", sortBy)
      @util.web.ViewUtils.th("first_elapsed_ms", "Elapsed", sortBy)
      @util.web.ViewUtils.th("first_occurred", "Occurred", sortBy)
      @util.web.ViewUtils.th("fastest_player", "Player", sortBy)
      @util.web.ViewUtils.th("fastest_moves", "Moves", sortBy)
      @util.web.ViewUtils.th("fastest_elapsed_ms", "Elapsed", sortBy)
      @util.web.ViewUtils.th("fastest_occurred", "Occurred", sortBy)
      <th></th>
    </tr>
  </thead>
  <tbody>
  @for(seed <- seeds) {
    <tr>
      <td>@seed.rules</td>
      <td>@seed.seed</td>
      <td>@util.NumberUtils.withCommas(seed.games)</td>
      <td>@util.NumberUtils.withCommas(seed.wins)</td>
      <td>@util.NumberUtils.withCommas(seed.moves)</td>
      <td>@seed.first.map(_.player.toString).getOrElse("-")</td>
      <td>@seed.first.map(_.moves).getOrElse("-")</td>
      <td>@seed.first.map(f => util.NumberUtils.withCommas(f.elapsed) + "ms").getOrElse("-")</td>
      <td>@seed.first.map(_.occurred.toString).getOrElse("-")</td>
      <td>@seed.fastest.map(_.player.toString).getOrElse("-")</td>
      <td>@seed.fastest.map(_.moves).getOrElse("-")</td>
      <td>@seed.fastest.map(f => util.NumberUtils.withCommas(f.elapsed) + "ms").getOrElse("-")</td>
      <td>@seed.fastest.map(_.occurred.toString).getOrElse("-")</td>
      <td><a href="@controllers.admin.routes.GameSeedController.remove(seed.rules, seed.seed)">X</a></td>
    </tr>
  }
  </tbody>
</table>
