@(section: String)<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand navbar-logo" href="@routes.HomeController.index()"><img alt="@utils.Config.projectName" src="@routes.Assets.versioned("images/ui/favicon/favicon.png")"></a>
  <a class="navbar-brand" href="@controllers.admin.routes.AdminController.index()">@utils.Config.projectName Admin</a>
</div>
<div class="collapse navbar-collapse" id="navbar-collapse">
  <ul class="nav navbar-nav">
    <li @if(section == "explore") { class="active" }>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explore <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@controllers.admin.routes.LogController.list()">Logs</a></li>
        <li><a href="@controllers.admin.routes.DataArchiveController.list()">Data Archive</a></li>
        <li class="divider"></li>
        <li><a href="@controllers.admin.routes.RulesController.rulesList()">Rules</a></li>
        <li class="divider"></li>
        <li><a href="@controllers.admin.routes.RequestLogController.requestList()">Requests</a></li>
      </ul>
    </li>
    <li @if(section == "analytics") { class="active" }>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Analytics <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@controllers.admin.routes.AnalyticsEventController.eventList()">Browse Events</a></li>
        <li class="divider"></li>
        <li><a href="@controllers.admin.routes.AnalyticsExportController.exportStatus()">Export Status</a></li>
      </ul>
    </li>
    <li @if(section == "tests") { class="active" }>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tests <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@controllers.admin.routes.TestController.tests()">Overview</a></li>
        <li class="divider"></li>
        <li><a href="@controllers.admin.routes.TestController.runTest("all")">All Tests</a></li>
        <li><a href="@controllers.admin.routes.TestController.runTest("rules")">Rules Tests</a></li>
        <li><a href="@controllers.admin.routes.TestController.runTest("variants")">Variant Tests</a></li>
        <li><a href="@controllers.admin.routes.TestController.runTest("solver")">Solver Tests</a></li>
      </ul>
    </li>
    <li @if(section == "reports") { class="active" }>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@controllers.admin.routes.ReportController.analytics()">Analytics</a></li>
        <li><a href="@controllers.admin.routes.ReportController.trend()">Trend</a></li>
        <li><a href="@controllers.admin.routes.ReportController.requests()">Requests</a></li>
        <li><a href="@controllers.admin.routes.ReportController.email()">Email</a></li>
        <li class="divider"></li>
        <li><a href="@controllers.admin.routes.AdHocQueryController.queryList(None)">Ad-Hoc</a></li>
      </ul>
    </li>
    <li @if(section == "feedback") { class="active" }>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Feedback <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@controllers.admin.routes.FeedbackController.list("all")">All</a></li>
        <li><a href="@controllers.admin.routes.FeedbackController.list("open")">Open</a></li>
        <li><a href="@controllers.admin.routes.FeedbackController.list("resolved")">Resolved</a></li>
        <li><a href="@controllers.admin.routes.FeedbackController.list("praise")">Praise</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@controllers.admin.routes.SandboxController.defaultSandbox()"><strong>Sandboxes</strong></a></li>
        @controllers.admin.SandboxController.sandboxes.map { sandbox =>
          <li><a href="@controllers.admin.routes.SandboxController.sandbox(sandbox.id)" title="@sandbox.description">@sandbox.id</a></li>
        }
        <li class="divider"></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
    </li>
  </ul>
</div>
