.swatch-border {
  display: inline-block;
  border: 5px solid #000;
  margin: 0;
  .swatch {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}
.swatch-border.active {
  border: 5px solid #fff;
}

#btn-confirm, #btn-cancel {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

#gameplay-options {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  top: 40px;
}
