#gameplay-options {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  top: 40px;
}

.options-list {
  display: inline-block;
  margin: auto;

  .options-label {
    margin: 5px 0;
  }

  .game-options {
    margin: 0 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 5px;
  }
}

.game-option {
  display: inline-block;
  border: 5px solid #000000;
  border-radius: 5px;
  margin: 0;
  div {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}
.game-option.active {
  border: 5px solid #ffffff;
  div {
    cursor: default;
  }
}
.game-option.active:hover {
  border: 5px solid #ffffff;
}
.game-option:hover {
  border: 5px solid #666666;
}
