#game-results-panel {
  display: none;
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;

  width: 90%;
  height: 80%;

  overflow: auto;

  .content {
    padding: 10px;
  }

  #game-results-title {
    font-size: 200%;
    margin-top: 5%;
  }

  .plea, .game-links, .game-results-table {
    margin: 5%;
  }

  .game-results-table {
    margin: auto;
    td {
      text-align: left;
    }
    th {
      text-align: right;
    }
  }
}
