#game-results-panel {
  display: none;
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;

  width: 90%;
  height: 80%;

  overflow: auto;

  .content {
    padding: 10px;
  }

  #game-results-title {
    font-size: 200%;
  }
}
