.color-palette, .pattern-palette {
  margin: auto;
  text-align: center;
}

.color-option, .pattern-option {
  width: 32px;
  height: 32px;
  margin: 4px;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
}
