.settings-section {
  margin: auto;
  text-align: center;
  padding: 8px 8px 4px 8px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 32px;
}

.color-option, .pattern-option {
  width: 32px;
  height: 32px;
  margin: 4px;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
}

.settings-input {
  display: inline-block;
  padding: 6px;
  label {
    padding-left: 6px;
  }
}
