// Home Page
.module {
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: #fff;
  .header {
    font-size: 120%;
  }
}

.welcome {
  font-size: 120%;
}
.tagline {
  margin: 10px 0;
}
.coming-soon {
  font-size: 150%;
}
.play-now {
  font-size: 150%;
  margin: 20px 0 10px 0;
  a {
    padding: 16px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
  }
}

// Options
#static-options-panel {
  display: none;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  .action-buttons {
    margin-top: 10px;
    text-align: center;
  }

  #btn-confirm {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
}
