.status-row {
  margin-top: 20px;
}

.inline-game {
  width: 100%;
  height: 800px;
}

.buttons-right {
  text-align: right;
  a {
    margin: 10px 0 10px 0;
  }
}

.list-panel {
  height: 200px;
  overflow: auto;
}

.text-centered {
  text-align: center;
}

.text-large {
  font-size: 150%;
}

#search-button {
  cursor: pointer;
}

.th-account-id {
  width: 300px;
}

.th-created {
  width: 190px;
}

.th-actions {
  width: 42px;
}
