.background-red {
  background-color: #f44336;
}

.border-red {
  border: 1px solid #f44336;
}

.btn-red {
  background-image: url(../images/ui/icons/icons-red@2x.png);
  background-size: 352px 64px;
}

.background-maroon {
  background-color: #e91e63;
}

.border-maroon {
  border: 1px solid #e91e63;
}

.btn-maroon {
  background-image: url(../images/ui/icons/icons-maroon@2x.png);
  background-size: 352px 64px;
}

.background-indigo {
  background-color: #9c27b0;
}

.border-indigo {
  border: 1px solid #9c27b0;
}

.btn-indigo {
  background-image: url(../images/ui/icons/icons-indigo@2x.png);
  background-size: 352px 64px;
}

.background-violet {
  background-color: #673ab7;
}

.border-violet {
  border: 1px solid #673ab7;
}

.btn-violet {
  background-image: url(../images/ui/icons/icons-violet@2x.png);
  background-size: 352px 64px;
}

.background-darkblue {
  background-color: #3f51b5;
}

.border-darkblue {
  border: 1px solid #3f51b5;
}

.btn-darkblue {
  background-image: url(../images/ui/icons/icons-darkblue@2x.png);
  background-size: 352px 64px;
}

.background-blue {
  background-color: #2196f3;
}

.border-blue {
  border: 1px solid #2196f3;
}

.btn-blue {
  background-image: url(../images/ui/icons/icons-blue@2x.png);
  background-size: 352px 64px;
}

.background-lightblue {
  background-color: #03a9f4;
}

.border-lightblue {
  border: 1px solid #03a9f4;
}

.btn-lightblue {
  background-image: url(../images/ui/icons/icons-lightblue@2x.png);
  background-size: 352px 64px;
}

.background-aqua {
  background-color: #00bcd4;
}

.border-aqua {
  border: 1px solid #00bcd4;
}

.btn-aqua {
  background-image: url(../images/ui/icons/icons-aqua@2x.png);
  background-size: 352px 64px;
}

.background-cardgreen {
  background-color: #076324;
}

.border-cardgreen {
  border: 1px solid #076324;
}

.btn-cardgreen {
  background-image: url(../images/ui/icons/icons-cardgreen@2x.png);
  background-size: 352px 64px;
}

.background-darkgreen {
  background-color: #009688;
}

.border-darkgreen {
  border: 1px solid #009688;
}

.btn-darkgreen {
  background-image: url(../images/ui/icons/icons-darkgreen@2x.png);
  background-size: 352px 64px;
}

.background-green {
  background-color: #4caf50;
}

.border-green {
  border: 1px solid #4caf50;
}

.btn-green {
  background-image: url(../images/ui/icons/icons-green@2x.png);
  background-size: 352px 64px;
}

.background-lightgreen {
  background-color: #8bc34a;
}

.border-lightgreen {
  border: 1px solid #8bc34a;
}

.btn-lightgreen {
  background-image: url(../images/ui/icons/icons-lightgreen@2x.png);
  background-size: 352px 64px;
}

.background-greenyellow {
  background-color: #cddc39;
}

.border-greenyellow {
  border: 1px solid #cddc39;
}

.btn-greenyellow {
  background-image: url(../images/ui/icons/icons-greenyellow@2x.png);
  background-size: 352px 64px;
}

.background-yellow {
  background-color: #ffeb3b;
}

.border-yellow {
  border: 1px solid #ffeb3b;
}

.btn-yellow {
  background-image: url(../images/ui/icons/icons-yellow@2x.png);
  background-size: 352px 64px;
}

.background-lightorange {
  background-color: #ffc107;
}

.border-lightorange {
  border: 1px solid #ffc107;
}

.btn-lightorange {
  background-image: url(../images/ui/icons/icons-lightorange@2x.png);
  background-size: 352px 64px;
}

.background-orange {
  background-color: #ff9800;
}

.border-orange {
  border: 1px solid #ff9800;
}

.btn-orange {
  background-image: url(../images/ui/icons/icons-orange@2x.png);
  background-size: 352px 64px;
}

.background-darkorange {
  background-color: #ff5722;
}

.border-darkorange {
  border: 1px solid #ff5722;
}

.btn-darkorange {
  background-image: url(../images/ui/icons/icons-darkorange@2x.png);
  background-size: 352px 64px;
}

.background-brown {
  background-color: #795548;
}

.border-brown {
  border: 1px solid #795548;
}

.btn-brown {
  background-image: url(../images/ui/icons/icons-brown@2x.png);
  background-size: 352px 64px;
}

.background-grey {
  background-color: #9e9e9e;
}

.border-grey {
  border: 1px solid #9e9e9e;
}

.btn-grey {
  background-image: url(../images/ui/icons/icons-grey@2x.png);
  background-size: 352px 64px;
}

.background-greyblue {
  background-color: #607d8b;
}

.border-greyblue {
  border: 1px solid #607d8b;
}

.btn-greyblue {
  background-image: url(../images/ui/icons/icons-greyblue@2x.png);
  background-size: 352px 64px;
}

.facebook {
  background: #3B5998;
}

.google {
  background: #D14836;
}

.twitter {
  background: #00ACED;
}
