.background-red {
  background-color: #f44336;
}

.border-red {
  border: 1px solid #f44336;
}

.background-maroon {
  background-color: #e91e63;
}

.border-maroon {
  border: 1px solid #e91e63;
}

.background-indigo {
  background-color: #9c27b0;
}

.border-indigo {
  border: 1px solid #9c27b0;
}

.background-violet {
  background-color: #673ab7;
}

.border-violet {
  border: 1px solid #673ab7;
}

.background-darkblue {
  background-color: #3f51b5;
}

.border-darkblue {
  border: 1px solid #3f51b5;
}

.background-blue {
  background-color: #2196f3;
}

.border-blue {
  border: 1px solid #2196f3;
}

.background-lightblue {
  background-color: #03a9f4;
}

.border-lightblue {
  border: 1px solid #03a9f4;
}

.background-aqua {
  background-color: #00bcd4;
}

.border-aqua {
  border: 1px solid #00bcd4;
}

.background-cardgreen {
  background-color: #076324;
}

.border-cardgreen {
  border: 1px solid #076324;
}

.background-darkgreen {
  background-color: #009688;
}

.border-darkgreen {
  border: 1px solid #009688;
}

.background-green {
  background-color: #4caf50;
}

.border-green {
  border: 1px solid #4caf50;
}

.background-lightgreen {
  background-color: #8bc34a;
}

.border-lightgreen {
  border: 1px solid #8bc34a;
}

.background-greenyellow {
  background-color: #cddc39;
}

.border-greenyellow {
  border: 1px solid #cddc39;
}

.background-yellow {
  background-color: #ffeb3b;
}

.border-yellow {
  border: 1px solid #ffeb3b;
}

.background-lightorange {
  background-color: #ffc107;
}

.border-lightorange {
  border: 1px solid #ffc107;
}

.background-orange {
  background-color: #ff9800;
}

.border-orange {
  border: 1px solid #ff9800;
}

.background-darkorange {
  background-color: #ff5722;
}

.border-darkorange {
  border: 1px solid #ff5722;
}

.background-brown {
  background-color: #795548;
}

.border-brown {
  border: 1px solid #795548;
}

.background-grey {
  background-color: #9e9e9e;
}

.border-grey {
  border: 1px solid #9e9e9e;
}

.background-grayblue {
  background-color: #607d8b;
}

.border-grayblue {
  border: 1px solid #607d8b;
}
