.jumbotron {
  margin: 20px 0 20px 0;
}

.name-panel {
  margin-bottom: 10px;
}

.status-row {
  margin-top: 20px;
}

.inline-game {
  width: 100%;
  height: 800px;
}

.buttons-right {
  text-align: right;
  a {
    margin: 10px 0 10px 0;
  }
}

.list-panel {
  height: 200px;
  overflow: auto;
}

.text-centered {
  text-align: center;
}

.text-large {
  font-size: 150%;
}

.alert {
  margin: 10px 0 0 0;
}

#scalataire-config {
  display: none;
}
