body, html {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #607d8b;
  color: #ffffff;
  min-width: 300px;
}

#solitaire-gg-config {
  display: none;
}

.pdebug {
  display: none;
}
.noscroll {
  overflow: hidden;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.0s, opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s linear;
}

@import "colors";
@import "buttons";
@import "menubars";
@import "options";

@import "static";
@import "auth";
@import "profile";

@import "feedback";
@import "gameplay";
@import "help";
@import "modal";
