body, html {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #607d8b;
  color: #ffffff;
  min-width: 300px;
}

#solitaire-gg-config {
  display: none;
}

.pdebug {
  display: none;
}
.noscroll {
  overflow: hidden;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.0s, opacity 500ms linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms linear;
}

.clear {
  clear: both;
}

@import "_colors";
@import "_buttons";
@import "_menubars";
@import "_menu";
@import "_options";

@import "_gamelinks";
@import "_static";
@import "_auth";
@import "_profile";

@import "_feedback";
@import "_gameplay";
@import "_help";
@import "_modal";
