@(account: java.util.UUID, name: String)(implicit session: Session, flash: Flash)
@import models.game.variants.GameVariant

@layout.bootstrap(utils.Config.projectName) {
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Welcome to my game!</h1>
        <p>I'm trying to build the web's best card games. Thanks for checking out my progress!</p>
        <p><a class="btn btn-primary btn-lg" href="@routes.HomeController.newGame("klondike").url" role="button">Play Now</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Resume Game</h3>
        </div>
        <div class="panel-body">
          No games to resume. Start a new game!
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Game</h3>
        </div>
        <div class="panel-body">
          <ul>
          @for(v <- GameVariant.all) {
            <li><a href="@routes.HomeController.newGame(v.key)">@v.name</a></li>
          }
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Profile</h3>
        </div>
        <div class="panel-body">
          <div class="name-panel">
            You are currently known as <strong>@name</strong>.
          </div>
          <div class="input-group">
            <input type="text" id="account" class="form-control" placeholder="Name" />
            <span class="input-group-addon"><a href="" onclick="signIn();return false;">Change Name</a></span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Administration</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="@routes.AdminController.status()">Server Status</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    function signIn() {
      var name = document.getElementById("account" ).value;
      if(name.length === 0) {
        alert("Please enter a name");
      } else {
        document.location.href = ('@routes.HomeController.changeName("")' + name);
      }
    }
  </script>
}
