@()(implicit session: Session, flash: Flash)

@layout.basic(utils.Config.projectName, stylesheets = Seq(routes.Assets.at("stylesheets/scalataire.css").url)) {
  <div id="game-container">
    <div id="loading-screen">
      <span>Loading...</span>
    </div>
  </div>
  <script>
    window.scalataireConfig = {
      "id": "@utils.Config.projectId",
      "name": "@utils.Config.projectName",
      "debug": "@utils.Config.debug",
      "autoStart": true,
      "cardSet": "@utils.Config.defaultCardSet",
      "cardSize": "@utils.Config.defaultCardSize"
    };
  </script>
  @if(utils.Config.debug) {
    <script src="/assets/lib/phaser/js/phaser.js"></script>
    <script src="/assets/lib/phaser/js/phaser-debug.js"></script>
  } else {
    <script src="/assets/lib/phaser/js/phaser.min.js"></script>
  }
  <script data-main="/assets/javascripts/main" src="/assets/lib/requirejs/require.min.js"></script>
}
