@(user: models.user.User, profiles: Seq[com.mohiva.play.silhouette.impl.providers.CommonSocialProfile])(
  implicit request: Request[AnyContent], session: Session, flash: Flash, messages: Messages
)@layout.static(user = user, title = utils.Config.projectName + " Profile", button = "menu") {
  <div class="profile">
    @if(user.preferences.avatar.startsWith("http")) {
      <div class="avatar-image">
        <img src="@user.preferences.avatar" />
      </div>
    }

    <div class="logout">
      <a class="sign-out-link" href="@controllers.routes.AuthenticationController.signOut">@Messages("profile.sign.out")</a>
    </div>

    <div id="username-container">
      <span id="username-label">@user.username.getOrElse(Messages("profile.set.username"))</span>
      <div id="username-edit">
        <input id="username-input" /><br/>
        <span id="username-edit-confirm">Save</span>
        <span id="username-edit-cancel">Cancel</span>
        <div id="username-edit-error"></div>
      </div>
    </div>

    @models.auth.SocialAuthProviders.providers.map { provider =>
      @defining(profiles.find(_.loginInfo.providerID == provider._1)) { profile =>
        <div class="profile-detail">
          @if(profile.isDefined) {
            <div class="provider @provider._1">
              <img src="@routes.Assets.versioned("images/providers/" + provider._1 + ".png")">
            </div>
            <div class="profile-links">
              <strong>@profile.get.fullName</strong><br/>
              @profile.get.email<br/>
              <a href="@routes.ProfileController.setOption("avatar", provider._1)">@Messages("profile.use.image.as.avatar", provider._2)</a>
            </div>
          } else {
            @defining(controllers.routes.AuthenticationController.authenticateSocial(provider._1)) { url =>
              <a href="@url" class="provider @provider._1">
                <img src="@routes.Assets.versioned("images/providers/" + provider._1 + ".png")">
              </a>
              <div class="profile-links">
                <a href="@url">@Messages("profile.connect.account", provider._2)</a>
              </div>
            }
          }
          <div class="clear"></div>
        </div>
      }
    }
  </div>
}
