@(
  user: models.user.User,
  profiles: Seq[com.mohiva.play.silhouette.impl.providers.CommonSocialProfile],
  routesMap: utils.play.RoutesMap = utils.play.RoutesMap.dynamic
)(
  implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.static(user = user, title = utils.Config.projectName + " Profile", button = "menu", routesMap) {
  <div class="profile">
    @if(user.isGuest) {
      <p>
        You're playing as a guest. Why not
        <a href="@controllers.auth.routes.RegistrationController.registrationForm()">register</a> or
        <a href="@controllers.auth.routes.AuthenticationController.signInForm()">sign in</a>
        ?
      </p>
    } else {
      @if(user.preferences.avatar.startsWith("http")) {
        <div class="avatar-image">
          <img src="@user.preferences.avatar" />
        </div>
      }

      @user.username.map { un =>
        <div class="username">@un</div>
      }.getOrElse {
        <div class="username">Guest</div>
      }
      <div class="logout"><a href="@controllers.auth.routes.AuthenticationController.signOut">Sign Out</a></div>
      @defining(profiles.find(_.loginInfo.providerID == "credentials")) { credentials =>
        <div class="profile-detail">
          @if(credentials.isDefined) {
            <em>@credentials.get.email</em>
          } else {
            <a href="@controllers.auth.routes.RegistrationController.registrationForm()">Create a local account</a>
          }
        </div>
      }

      @defining(profiles.find(_.loginInfo.providerID == "facebook")) { facebook =>
        <div class="profile-detail">
          @if(facebook.isDefined) {
            <div class="provider facebook">
              <img src="@routes.Assets.at("images/providers/facebook.png")">
            </div>
            <div class="profile-links">
              <strong>@facebook.get.fullName</strong><br/>
              @facebook.get.email<br/>
              <a href="@routes.ProfileController.setOption("avatar", "facebook")">Use your Facebook profile image as your avatar.</a>
            </div>
          } else {
            @defining(controllers.auth.routes.AuthenticationController.authenticateSocial("facebook")) { url =>
              <a href="@url" class="provider facebook">
                <img src="@routes.Assets.at("images/providers/facebook.png")">
              </a>
              <div class="profile-links">
                <a href="@url">Connect your Facebook account</a>
              </div>
            }
          }
          <div class="clear"></div>
        </div>
      }

      @defining(profiles.find(_.loginInfo.providerID == "google")) { google =>
        <div class="profile-detail">
          @if(google.isDefined) {
            <div class="provider google">
              <img src="@routes.Assets.at("images/providers/google.png")">
            </div>
            <div class="profile-links">
              <strong>@google.get.fullName</strong><br/>
              @google.get.email<br/>
              <a href="@routes.ProfileController.setOption("avatar", "google")">Use your Google+ profile image as your avatar.</a>
            </div>
          } else {
            @defining(controllers.auth.routes.AuthenticationController.authenticateSocial("google")) { url =>
              <a href="@url" class="provider google">
                <img src="@routes.Assets.at("images/providers/google.png")">
              </a>
              <div class="profile-links">
                <a href="@url">Connect your Google account</a>
              </div>
            }
          }
          <div class="clear"></div>
        </div>
      }

      @defining(profiles.find(_.loginInfo.providerID == "twitter")) { twitter =>
        <div class="profile-detail">
          @if(twitter.isDefined) {
            <div class="provider twitter">
              <img src="@routes.Assets.at("images/providers/twitter.png")">
            </div>
            <div class="profile-links">
              <strong>@twitter.get.fullName.map(n => s"@$n")</strong><br/>
              @twitter.get.email<br/>
              <a href="@routes.ProfileController.setOption("avatar", "twitter")">Use your Twitter profile image as your avatar.</a>
            </div>
          } else {
            @defining(controllers.auth.routes.AuthenticationController.authenticateSocial("twitter")) { url =>
              <a href="@url" class="provider twitter">
                <img src="@routes.Assets.at("images/providers/twitter.png")">
              </a>
              <div class="profile-links">
                <a href="@url">Connect your Twitter account</a>
              </div>
            }
          }
          <div class="clear"></div>
        </div>
      }
    }
  </div>
}
