@()(implicit session: Session, flash: Flash)@views.html.admin.layout.base(utils.Config.projectName + " Tests", "tests") {
  <h3>@utils.Config.projectName Tests</h3>
  <div class="row">
    <div class="col-md-3">
      <h4><a href="@controllers.admin.routes.TestController.runTest("all").url">All Tests</a></h4>
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li><a href="@controllers.admin.routes.TestController.runTest("poker").url">Poker Tests</a></li>
            <li><a href="@controllers.admin.routes.TestController.runTest("known").url">Known Game Tests</a></li>
            <li><a href="@controllers.admin.routes.TestController.runTest("solver").url">All Solver Tests</a></li>
            <li><a href="@controllers.admin.routes.TestController.runTest("variants").url">All Variant Tests</a></li>
            <li><a href="@controllers.admin.routes.TestController.runTest("rules").url">All Rules Tests</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4><a href="@controllers.admin.routes.TestController.runTest("variants").url">All Variant Tests</a></h4>
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
          @for(r <- models.rules.GameRulesSet.all) {
            <li><a href="@controllers.admin.routes.TestController.runTest(s"variant-${r.id}").url">@r.title Test</a></li>
          }
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4><a href="@controllers.admin.routes.TestController.runTest("solver").url">All Solver Tests</a></h4>
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
          @for(r <- models.rules.GameRulesSet.all) {
            <li><a href="@controllers.admin.routes.TestController.runTest(s"solve-${r.id}").url">Solve @r.title</a></li>
          }
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4><a href="@controllers.admin.routes.TestController.runTest("rules").url">All Rules Tests</a></h4>
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
          @for(r <- models.rules.GameRulesSet.all) {
            <li><a href="@controllers.admin.routes.TestController.runTest(s"rules-${r.id}").url">@r.title Rules</a></li>
          }
          </ul>
        </div>
      </div>
    </div>
  </div>
}
