@(
    title: String,
    rulesId: String,
    rulesDescription: String,
    seed: Option[Int] = None,
    debug: Boolean = false
)(implicit session: Session, flash: Flash, messages: Messages)@views.html.layout.basic(
  title,
  scripts = Seq(
    routes.Assets.versioned("lib/jquery/jquery.min.js").url,
    routes.Assets.versioned("lib/aframe/aframe.min.js").url,
    routes.Assets.versioned("lib/aframe/aframe-animation-component.min.js").url,
    routes.Assets.versioned("lib/aframe/aframe-event-set-component.min.js").url,
    routes.Assets.versioned("lib/aframe/aframe-layout-component.min.js").url,

    routes.Assets.versioned("lib/aframe/nunjucks.min.js").url,
    routes.Assets.versioned("lib/aframe/aframe-template-component.min.js").url,

    routes.Assets.versioned("javascripts/sandbox/set-image.js").url,
    routes.Assets.versioned("javascripts/sandbox/update-raycaster.js").url
  )
) {
  <a-scene>
    <a-assets>
      <audio id="click-sound" src="@routes.Assets.versioned("vr/click.ogg")"></audio>

      <img id="city" src="@routes.Assets.versioned("vr/city.jpg")">
      <img id="city-thumb" src="@routes.Assets.versioned("vr/thumb-city.jpg")">
      <img id="cubes" src="@routes.Assets.versioned("vr/cubes.jpg")">
      <img id="cubes-thumb" src="@routes.Assets.versioned("vr/thumb-cubes.jpg")">
      <img id="sechelt" src="@routes.Assets.versioned("vr/sechelt.jpg")">
      <img id="sechelt-thumb" src="@routes.Assets.versioned("vr/thumb-sechelt.jpg")">

      <script id="link" type="text/nunjucks">
        <a-plane class="link" height="1" width="1"
          material="shader: flat; src: {{ thumb }}"
          event-set__1="_event: mousedown; scale: 1 1 1"
          event-set__2="_event: mouseup; scale: 1.2 1.2 1"
          event-set__3="_event: mouseenter; scale: 1.2 1.2 1"
          event-set__4="_event: mouseleave; scale: 1 1 1"
          set-image="on: click; target: #image-360; src: {{ src }}"
          sound="on: click; src: #click-sound"
          update-raycaster="#cursor"></a-plane>
      </script>

      <a-asset-item id="tree-obj" src="@routes.Assets.versioned("vr/table.obj")"></a-asset-item>
      <a-asset-item id="tree-mtl" src="@routes.Assets.versioned("vr/table.mtl")"></a-asset-item>
    </a-assets>

    <a-sky id="image-360" radius="10" src="#city"></a-sky>

    <a-entity id="links" layout="type: line; margin: 1.5" position="0 -1 -4">
      <a-entity template="src: #link" data-src="#cubes" data-thumb="#cubes-thumb"></a-entity>
      <a-entity template="src: #link" data-src="#city" data-thumb="#city-thumb"></a-entity>
      <a-entity template="src: #link" data-src="#sechelt" data-thumb="#sechelt-thumb"></a-entity>
    </a-entity>

    <a-entity obj-model="obj: #tree-obj; mtl: #tree-mtl"></a-entity>

    <a-entity camera look-controls>
      <a-cursor
        id="cursor"
        animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
        animation__fusing="property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 1500"
        event-set__1="_event: mouseenter; color: springgreen"
        event-set__2="_event: mouseleave; color: black"
        raycaster="objects: .link"
      ></a-cursor>
    </a-entity>
  </a-scene>
}
